
@{
    ViewData["Title"] = "Nueva Ubicacion";
}

@await Html.PartialAsync("_Menu");

<form id="LoginForm">
    <div class="row justify-content-center align-self-center">
        <div class="col-6 text-center">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Ingresar:</h5>
                    <div class="row justify-content-center align-self-center">
                        <div class="col-12 mt-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Negocio:</span>
                                </div>
                                <input type="text" class="form-control" id="negocio" name="negocio" />
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Descripcion:</span>
                                </div>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" />
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Latitud:</span>
                                </div>
                                <input type="number" class="form-control" id="latitud" name="longitud" />
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Longitud:</span>
                                </div>
                                <input type="number" class="form-control" id="longitud" name="longitud" />
                            </div>
                        </div>
                        <div class="col-4 mt-2">
                            <input id="btnLocation" type="button" class="btn btn-outline-info d-block" value="Save" />
                        </div>
                        <div class="col-4 mt-2">
                            <input id="btnUnsubcribe" type="button" class="btn btn-outline-warning d-block" value="Unsuscribe" />
                        </div>
                        <div class="col-4 mt-2">
                            <input id="btnDeleteLocation" type="button" class="btn btn-outline-danger d-block" value="Delete" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/js/ubicaciones.mjs" asp-append-version="true" type="module"></script>